@use "../abstracts/variables" as *;
@mixin buttons($_bg-color, $_color) {
  background-color: $_bg-color;
  color: $_color;
  cursor: pointer;
}
@mixin order-btns() {
  padding-block: 0.75rem;
  width: 100%;
}
@mixin prod-card-btn() {
  align-items: center;
  display: flex;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: center;
  left: 50%;
  max-height: 48px;
  padding: 0.75rem 2.5rem;
  position: absolute;
  text-wrap: nowrap;
  top: calc(-50% - 0.5rem);
  transform: translate(-50%, -35%);
}
@mixin subtotal-wrapper() {
  border-bottom: 1px solid rgba($clr-rose-400, 0.3);
  padding-block: 0.25rem;
}
@mixin line-wrapper() {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@mixin total-text() {
  font-size: 1.25rem;
  font-weight: 700;
}
