$clr-red: hsl(14, 86%, 42%);
$clr-green: hsl(159, 69%, 38%);
$clr-rose-50: hsl(20, 50%, 98%);
$clr-rose-100: hsl(13, 31%, 94%);
$clr-rose-300: hsl(14, 25%, 72%);
$clr-rose-400: hsl(7, 20%, 60%);
$clr-rose-500: hsl(12, 20%, 44%);
$clr-rose-900: hsl(14, 65%, 9%);
