@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.cart {
  align-self: start;
  background-color: white;
  border-radius: 10px;

  .cart-empty {
    display: grid;
    display: block;
    gap: 1rem;
    padding: 1.5rem 1.5rem 2.5rem;

    img {
      margin-inline: auto;
    }
    p {
      color: $clr-rose-900;
      font-size: 0.85rem;
      text-align: center;
    }
  }
  .cart-with-items {
    display: none;
    padding: 1.5rem;

    .cart-items-wrapper {
      .cart-item {
        @include line-wrapper();
        border-bottom: 1px solid rgba($clr-rose-400, 0.5);
        padding-block: 0.5rem;

        .cart-item-content {
          .cart-item-name {
            font-weight: 600;
          }
          .cart-item-price-info {
            display: flex;
            gap: 0.5rem;

            p {
              color: $clr-rose-400;
            }
            p:first-child {
              color: $clr-red;
              font-weight: 700;
              margin-right: 0.5rem;
            }
            p:last-child {
              font-weight: 600;
            }
          }
        }
        .cart-item-remove {
          border-radius: 50%;
          cursor: pointer;
          outline: 1px solid $clr-rose-400;
          padding: 0.2rem;

          &:hover,
          &:focus-visible {
            filter: brightness(0);
          }
        }
      }
      .cart-subtotal-wrapper {
        @include subtotal-wrapper();

        .cart-subtotal-line-wrapper {
          @include line-wrapper();

          &:nth-child(2) p {
            font-size: 0.85rem;
          }
        }
      }
    }
    .total-wrapper {
      @include line-wrapper();
      padding-block: 1rem;

      p {
        @include total-text();
      }
    }
    .disclaimer {
      align-items: center;
      background-color: $clr-rose-50;
      border-radius: 10px;
      display: flex;
      font-size: 0.85rem;
      gap: 0.5rem;
      justify-content: center;
      margin-bottom: 1.5rem;
      padding-block: 1rem;

      span {
        font-weight: 600;
      }
    }
    button {
      @include buttons($clr-red, $clr-rose-50);
      @include order-btns();

      &:hover,
      &:focus-visible {
        filter: brightness(0.9);
      }
    }
  }
}
