@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.cart {
  align-self: start;
  background-color: white;
  border-radius: 10px;

  .cart-empty {
    padding: 1.5rem 1.5rem 2.5rem;
    display: grid;
    gap: 1rem;

    display: block;

    img {
      margin-inline: auto;
    }
    p {
      text-align: center;
      font-size: 0.85rem;
    }
  }

  .cart-with-items {
    // display: none;
    // outline: 2px solid lime;
    padding: 1.5rem;
    display: none;

    .cart-items-wrapper {
      // margin-top: 0.5rem;

      .cart-item {
        // outline: 2px solid blue;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgba($clr-rose-400, 0.5);

        .cart-item-content {
          .cart-item-name {
            font-weight: 600;
          }

          .cart-item-price-info {
            display: flex;
            gap: 0.5rem;

            p {
              color: $clr-rose-400;
            }

            p:first-child {
              margin-right: 0.5rem;
              color: $clr-red;
              font-weight: 700;
            }

            p:last-child {
              font-weight: 600;
            }
          }
        }

        .cart-item-remove {
          outline: 1px solid $clr-rose-400;
          padding: 0.2rem;
          border-radius: 50%;
          cursor: pointer;

          &:hover,
          &:focus-visible {
            filter: brightness(0);
          }
        }
      }
    }

    .total-wrapper {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-block: 1rem;

      p:first-child {
        font-size: 0.85rem;
      }
      p:last-child {
        font-weight: 700;
        font-size: 1.25rem;
      }
    }

    .disclaimer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 1rem;
      border-radius: 10px;
      background-color: $clr-rose-50;
      font-size: 0.85rem;
      gap: 0.5rem;
      margin-bottom: 1.5rem;

      span {
        font-weight: 600;
      }
    }

    button {
      cursor: pointer;
      width: 100%;
      padding-block: 0.75rem;
      @include buttons($clr-red, $clr-rose-50);

      &:hover,
      &:focus-visible {
        filter: brightness(0.9);
      }
    }
  }
}
