@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.card {
  .card-content {
    position: relative;
  }
  &:has(.added-to-cart) img {
    outline: 3px solid $clr-red;
  }
  img {
    border-radius: 10px;
    margin-bottom: 2rem;

    @media screen and (width < 550px) {
      height: 200px;
      object-fit: cover;
      width: 100%;
    }
  }
  .card-category {
    color: $clr-rose-400;
    font-size: 0.85rem;
  }
  .card-name,
  .card-price {
    font-weight: 600;
  }
  .card-price {
    color: $clr-red;
  }
  button {
    @include buttons(white, black);
    @include prod-card-btn();

    &:not(.added-to-cart) {
      outline: 2px solid $clr-rose-400;

      &:hover,
      &:focus-visible {
        color: $clr-red;
        outline: 2px solid $clr-red;
      }
    }
    .cart-icon {
      height: 100%;
      margin: 0;
    }
    .decrement-item,
    .increment-item {
      display: none;
    }
  }
  .added-to-cart {
    background-color: $clr-red;
    color: $clr-rose-50;
    width: 176px;

    .cart-icon {
      display: none;
    }
    .decrement-item,
    .increment-item {
      border-radius: 50%;
      color: $clr-rose-50;
      cursor: pointer;
      display: block;
      height: 1.5rem;
      left: 1rem;
      outline: 2px solid $clr-rose-50;
      position: absolute;
      width: 1.5rem;

      &:hover,
      &:focus-visible {
        background-color: $clr-rose-50;
        color: $clr-red;
        outline: 2px solid $clr-red;
      }
    }
    .increment-item {
      left: unset;
      right: 1rem;
    }
  }
}
