*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
body {
  line-height: 1.5;
  min-height: 100%;
}
img,
picture {
  display: block;
  max-width: 100%;
}
button {
  font: inherit;
}
