main {
  background-color: hsl(20, 50%, 98%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 2rem;
  grid-template-columns: 70% 30%;
  margin-block: 2rem;
  margin-inline: auto;
  max-width: 1400px;
  padding: 5rem;
}
@media screen and (width < 1200px) {
  main {
    grid-template-columns: 1fr;
    margin-block: 0 1.5rem;
    padding: 1rem;
  }
}

.product-grid .cards-grid-wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cart {
  align-self: start;
  background-color: white;
  border-radius: 10px;
}
.cart .cart-empty {
  display: grid;
  display: block;
  gap: 1rem;
  padding: 1.5rem 1.5rem 2.5rem;
}
.cart .cart-empty img {
  margin-inline: auto;
}
.cart .cart-empty p {
  color: hsl(14, 65%, 9%);
  font-size: 0.85rem;
  text-align: center;
}
.cart .cart-with-items {
  display: none;
  padding: 1.5rem;
}
.cart .cart-with-items .cart-items-wrapper .cart-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(173, 137, 133, 0.5);
  padding-block: 0.5rem;
}
.cart .cart-with-items .cart-items-wrapper .cart-item .cart-item-content .cart-item-name {
  font-weight: 600;
}
.cart .cart-with-items .cart-items-wrapper .cart-item .cart-item-content .cart-item-price-info {
  display: flex;
  gap: 0.5rem;
}
.cart .cart-with-items .cart-items-wrapper .cart-item .cart-item-content .cart-item-price-info p {
  color: hsl(7, 20%, 60%);
}
.cart .cart-with-items .cart-items-wrapper .cart-item .cart-item-content .cart-item-price-info p:first-child {
  color: hsl(14, 86%, 42%);
  font-weight: 700;
  margin-right: 0.5rem;
}
.cart .cart-with-items .cart-items-wrapper .cart-item .cart-item-content .cart-item-price-info p:last-child {
  font-weight: 600;
}
.cart .cart-with-items .cart-items-wrapper .cart-item .cart-item-remove {
  border-radius: 50%;
  cursor: pointer;
  outline: 1px solid hsl(7, 20%, 60%);
  padding: 0.2rem;
}
.cart .cart-with-items .cart-items-wrapper .cart-item .cart-item-remove:hover, .cart .cart-with-items .cart-items-wrapper .cart-item .cart-item-remove:focus-visible {
  filter: brightness(0);
}
.cart .cart-with-items .cart-items-wrapper .cart-subtotal-wrapper {
  border-bottom: 1px solid rgba(173, 137, 133, 0.3);
  padding-block: 0.25rem;
}
.cart .cart-with-items .cart-items-wrapper .cart-subtotal-wrapper .cart-subtotal-line-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.cart .cart-with-items .cart-items-wrapper .cart-subtotal-wrapper .cart-subtotal-line-wrapper:nth-child(2) p {
  font-size: 0.85rem;
}
.cart .cart-with-items .total-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}
.cart .cart-with-items .total-wrapper p {
  font-size: 1.25rem;
  font-weight: 700;
}
.cart .cart-with-items .disclaimer {
  align-items: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 10px;
  display: flex;
  font-size: 0.85rem;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding-block: 1rem;
}
.cart .cart-with-items .disclaimer span {
  font-weight: 600;
}
.cart .cart-with-items button {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  cursor: pointer;
  padding-block: 0.75rem;
  width: 100%;
}
.cart .cart-with-items button:hover, .cart .cart-with-items button:focus-visible {
  filter: brightness(0.9);
}

dialog {
  border: none;
  border-radius: 10px;
  margin-inline: auto;
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: absolute;
  top: 25%;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
dialog .order-conf {
  display: block;
  min-width: 600px;
  padding: 1rem;
}
dialog .order-conf > p:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
}
dialog .order-conf > p:nth-of-type(2) {
  color: hsl(12, 20%, 44%);
}
dialog .order-conf .order-summary {
  background-color: hsl(20, 50%, 98%);
  margin-block: 2rem;
  padding: 0.25rem 1.25rem 1.25rem;
}
dialog .order-conf .order-summary .order-summary-item {
  align-items: center;
  border-bottom: 1px solid rgba(173, 137, 133, 0.3);
  display: flex;
  padding-block: 1rem;
}
dialog .order-conf .order-summary .order-summary-item .order-summary-content {
  display: grid;
  flex-grow: 1;
  gap: 0.75rem;
  line-height: 1;
}
dialog .order-conf .order-summary .order-summary-item .order-summary-content > p {
  font-weight: 600;
}
dialog .order-conf .order-summary .order-summary-item .order-summary-content p:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
dialog .order-conf .order-summary .order-summary-item .order-summary-content .order-summary-content-price-wrapper {
  display: flex;
}
dialog .order-conf .order-summary .order-summary-item .order-summary-content .order-summary-content-price-wrapper > p:first-child {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
  margin-right: 1rem;
}
dialog .order-conf .order-summary .order-summary-item .order-summary-content .order-summary-content-price-wrapper > p:last-child {
  opacity: 0.5;
}
dialog .order-conf .order-summary .order-summary-item img {
  height: 50px;
  margin-right: 1rem;
  width: 50px;
}
dialog .order-conf .order-summary .order-summary-item .order-summary-item-subtotal {
  font-weight: 600;
}
dialog .order-conf .order-summary .order-conf-total-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
dialog .order-conf .order-summary .order-conf-total-wrapper p {
  font-size: 1.25rem;
  font-weight: 700;
}
dialog .order-conf .order-summary .order-summary-subtotal-wrapper {
  border-bottom: 1px solid rgba(173, 137, 133, 0.3);
  padding-block: 0.25rem;
}
dialog .order-conf .order-summary .order-summary-subtotal-wrapper .order-summary-line-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
dialog .order-conf .order-summary .order-summary-subtotal-wrapper .order-summary-line-wrapper:nth-child(2) p {
  font-size: 0.85rem;
}
dialog .order-conf button {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  cursor: pointer;
  padding-block: 0.75rem;
  width: 100%;
  font-size: 1rem;
}
@media screen and (width < 600px) {
  dialog {
    min-width: 100%;
    top: 5rem;
  }
  dialog .order-conf {
    min-width: 100%;
  }
}/*# sourceMappingURL=index.css.map */